header {
    height: 8vh;
    width: 100vw;
    background-color: #1A1426;
    border-bottom: 1px solid black;
}

.content-search {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    margin-left: 20px;
}

#search {
    border-radius: 15px;
    width: 15vw;
    height: 4vh;
}

li {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    color: white;
    list-style-type: none;
    margin-right: 60px;
}

.ul-bar {
    display: flex;
    letter-spacing: 2px;
}

.ul-bar>a {
    text-decoration: none;
}

.social-nav {
    display: flex;
}