* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2E2D40;
}

section {
    display: flex;
    background-color: #2E2D40;
    height: 50vh;
}

.content-main {
    height: 100%;
    width: 75%;
    background-color: tomato;
}

aside {
    height: 100%;
    width: 25%;
    background-color: gray;
}

.cards-cursos {
    display: flex;
    /* grid-template-rows: repeat(1, 1fr); */
}

.box-img {
    width: 20vw;
    height: 25vh;
    background-color: #2E2D40;
    margin-right: 10px;
}

.professor{
    font-family: "Roboto";
    margin: 20px;
    font-style:normal;
    font-weight: bold;
}
.box-img-img {
    width: 20vw;
    height: 20vh;
    margin: 20px;
    background-color: #2E2D40;
    margin-right: 15px;
}
/* pfv da certo, mano, namoral */