* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2E2D40;
}

section {
    display: flex;
    background-color: #2E2D40;
    height: 50vh;
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.container-cursos {
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box-cursos {
    height: 20vh;
    width: 15vw;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
}

.primeiro {
    margin-left: 20px;
    height: 43vh;
    width: 20vw;
    margin-right: 15px;
    grid-row: 1/3;
}

.professor{
    font-family: "Roboto";
    margin: 20px;
    font-style:normal;
    font-weight: bold;
}
.box-img-img {
    width: 20vw;
    height: 20vh;
    margin: 20px;
    background-color: #2E2D40;
    margin-right: 15px;
}
/* pfv da certo, mano, namoral */
.box-cursos>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
